@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;1,100&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #F6F6EC;
    --font-color-main: #2D2D25;
    --font-color-akzent: #0059D9;
    --border-color: #DFE4E5;
    --margin-top: 0.75rem;
    --picture-height: 24rem;
    --h1-font-size: 3em;
    --h2-font-size: 2em;
    --main-width: 51rem;
    --main-padding: 2rem;
}

@media screen and (max-width: 1919px) {
    :root {
        --h1-font-size: 2em;
        --h2-font-size: 1.5em;
    }
}

@media screen and (max-width: 819px) {
    :root {
        --h1-font-size: 1.5em;
        --h2-font-size: 1em;
        --picture-height: 12rem;
        --main-width: var(--main-width);
        --main-padding: 0.7rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    width: var(--main-width);
    min-height: 100vh;
    padding: var(--main-padding);
    margin: auto;
    background-color: var(--bg-color);
}

h1 {
    font-family: 'Roboto', "Open Sans", serif;
    font-weight: 700;
    font-size: var(--h1-font-size);
    line-height: 100%;
    color: var(--font-color-main);
}

h2 {
    font-family: 'Roboto', "Open Sans", serif;
    font-weight: 500;
    font-size: var(--h2-font-size);
    line-height: 100%;
    color: var(--font-color-akzent);
}

.divider {
    width: 100%;
    height: 0.1rem;
    margin-top: var(--margin-top);
    background-color: var(--border-color);
}

@media screen and (min-width: 1920px) {
    .accordion *:hover {
        cursor: pointer;
    }

    .accordion:hover *:not(:checked) {
        color: var(--font-color-main);
    }

    .accordion-item:hover .content::after{
        transform: rotate(45deg);
    }

    .accordion-item:hover .picture{
        height: var(--picture-height);
    }

    .accordion:hover .content::after {
        content: url("./assets/icons/tablet-and-desktop/icon_big_cross.svg");
        transition: all 0.4s;
    }

    .accordion:hover input:checked + label > .content::after{
        transform: rotate(45deg);
    }
}

@media screen and (max-width: 1919px) {
    .accordion input:checked + label > .content::after{
        transform: rotate(45deg);
    }
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:var(--margin-top);
}

.accordion-item input {
    position: absolute;
    /*z-index: -1;*/
    opacity: 0;
}

.accordion-item input:checked {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.accordion-item label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.accordion-item .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media screen and (max-width: 1919px) {
    .accordion .content::after {
        content: url("./assets/icons/tablet-and-desktop/icon_big_cross.svg");
        transition: all 0.4s;
    }
}

@media screen and (max-width: 819px) {
    .accordion .content::after {
        content: url("./assets/icons/mobile/icon_small_cross.svg");
        transition: all 0.4s;
    }
}

.picture {
    height: 0;
    margin-top: var(--margin-top);
    transition: all 0.4s;
}

.accordion input:checked + label *{
    color: var(--font-color-main);
}

input:checked + label + picture > .picture{
    height: var(--picture-height);
}